<!doctype html>
<html lang="en" ng-app="sortable-columns">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

  <script src="lib/jquery/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
  
  <!-- <script src="lib/angular/angular.js"></script> -->
  <!-- <script src="lib/angular/angular-route.js"></script> -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>

  <div ng-controller="appCtrl" class="container">
	<div class="floatleft">
		<div ui-sortable="sortableOptions" class="apps-container screen floatleft" ng-model="screen" ng-repeat="screen in rawScreens">
			<div class="app" ng-repeat="app in screen">
				{{app.title}}
			</div>
		</div>
	</div>
  </div>
  
  <!--
  <script src="js/services.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  -->
</body>
</html>
